<template name="signupItem">
	<li class="link-room-{{_id}} {{active}} {{#if unread}}has-unread{{/if}} {{#if alert}}has-alert{{/if}}">
		<a class="open-room" href="{{route}}" title="{{name}}">
			{{#if unread}}
				<span class="unread">{{unread}}</span>
			{{/if}}
			<span class='signups'>{{usernames.length}}/{{size}}</span>
			<span class='name'>{{name}}</span>
			<span class='opt'>
				{{#if canHide}}
					<i class="icon-cancel-circled hide-room" title="{{_ "Hide_room"}}"></i>
				{{/if}}
				{{#if canLeave}}
					<i class="icon-logout leave-room" title="{{_ "Leave_room"}}"></i>
				{{/if}}
				{{#if canJoin}}
					<i class="icon-login join-room" title="{{_ "Join room"}}"></i>
				{{/if}}
			</span>
		</a>
	</li>
</template>